@model List<BookStore.Models.Order>

<div class="text-center wow fadeInUp row justify-content-between" data-wow-delay="0.1s">
    <div class="col-md-3">
        <button class="btn btn-warning btn-lg rounded-pill">
            Welcome to Order Manange
            <i class="bi bi-chat-heart-fill text-white"></i>
        </button>
    </div>

    <div class="col-md-3">
        <h6 class="section-title bg-white text-center text-primary px-3">
            Orders
        </h6>
        <h1 class="mb-4">Order history</h1>
    </div>
    <div class="col-md-3">
        <button class="btn btn-info btn-lg rounded-pill">
            <i class="bi bi-box-seam-fill"></i>
            You have @Model.Count() orders
        </button>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <thead class="bg-light thead-dark text-center fs-5">
                        <tr>
                            <th><i class="fa-solid fa-box"></i> Order</th>
                            <th><i class="fa-solid fa-calendar"></i> Created date</th>
                            <th><i class="fa-solid fa-circle-info"></i> UserId</th>
                            <th><i class="fa-solid fa-circle-info"></i> Total</th>
                            <th><i class="fa-solid fa-money-check-dollar"></i> Status</th>
                            <th><i class="fa-sharp fa-solid fa-file-invoice"></i> Action</th>
                        </tr>
                    </thead>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.Id</td>
                        <td>@order.OrderDate</td>
                        <td>@order.UserId</td>
                        <td>@(order.OrderItems.Sum(oi => oi.Quantity * oi.Book.Price)) $</td>
                        <td>
                            <span
                                class="btn rounded-pill d-inline m-1 @(order.Status == "Accept" ? "btn-success" : order.Status == "Reject" ? "btn-danger" : "btn-secondary")">@order.Status</span>
                        </td>
                        <td>
                            <form method="post" asp-controller="StoreOwner" asp-action="OrderManage">
                                <input type="hidden" name="orderId" value="@order.Id" />
                                <input type="hidden" name="status" value="Accept" />
                                <button type="submit" class="btn btn-success"
                                    style="background-color:rgb(29, 250, 0); border-color:rgb(0, 0, 0); color:rgb(0, 0, 0)">Accept</button>
                            </form>
                            <form method="post" asp-controller="StoreOwner" asp-action="OrderManage">
                                <input type="hidden" name="orderId" value="@order.Id" />
                                <input type="hidden" name="status" value="Reject" />
                                <button type="submit" class="btn btn-danger"
                                    style="background-color:rgb(247, 63, 63); border-color:rgb(0, 0, 0); color:rgb(0, 0, 0)">Reject</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
